<div class="container-large">

  <!-- Header -->
  <div class="index-page-header">
    <h1>Template index page</h1>
  </div>



  <div class="template-index-body">

    <!-- Template creation form -->
    <div class="template-creation-form">
      <h3>Template creation form</h3>
      <p>Templates can have as many columns as you want. Just click the add more button to generate more column fields.</p>
      <%= render 'form' %>
    </div>

<!--     <div class="template-creation-form">
      <h3>Template creation form</h3>
      <p>Templates can have as many columns as you want. Just click the add more button to generate more column fields.</p>
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Name</label>
          <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Woman apparel template #23">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Type</label>
          <select class="form-control">
            <option>-</option>
            <option>Excel</option>
            <option>csv</option>
            <option>xml</option>
          </select>
        </div>


        <div class="form-group">
          <label for="exampleInputEmail1">Column 1</label>
          <select class="form-control">
            <option>-</option>
            <option>Name</option>
            <option>SKU</option>
            <option>Description</option>
            <option>Price</option>
            <option>Size</option>
            <option>Color</option>
          </select>
          <label for="exampleInputEmail1">Column 2</label>
          <select class="form-control">
            <option>-</option>
            <option>Name</option>
            <option>SKU</option>
            <option>Description</option>
            <option>Price</option>
            <option>Size</option>
            <option>Color</option>
          </select>
          <label for="exampleInputEmail1">Column 3</label>
          <select class="form-control">
            <option>-</option>
            <option>Name</option>
            <option>SKU</option>
            <option>Description</option>
            <option>Price</option>
            <option>Size</option>
            <option>Color</option>
          </select>
        </div>


      </form> -->

      <!-- Dynamically adding fields for the columns -->
<!--       <div class="control-group" id="fields">
        <div class="controls">
          <form role="form" autocomplete="off">
                <label for="exampleInputEmail1">Add more columns</label>
              <div class="columns-select-boxes">

                  <select class="form-control">
                    <option>-</option>
                    <option>Name</option>
                    <option>SKU</option>
                    <option>Description</option>
                    <option>Price</option>
                    <option>Size</option>
                    <option>Color</option>
                  </select>
                <button type="button" class="btn btn-success btn-add" >
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add more
                </button>
              </div>
          </form>
        </div>
      </div> -->



    <!-- Template library -->
    <div class="template-library">
      <h2>Template Library</h2>
      <div class="template-library-row">
        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th>Template name</th>
              <th>Last update</th>
              <th>By</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            <% @templates.each do |template| %>
            <tr>
              <td><strong><%= template.name  %></strong></td>
              <td><%= template.updated_at %></td>
              <td>Lancelot Salavert</td>
              <td>
                <a class="btn btn-primary" href="#">Download</a>
                <a class="btn btn-primary" href="#">Duplicate</a>
                <%= link_to "Edit", edit_template_path(template), :class=>"btn btn-primary" %>
                <%= link_to "Delete", template_path(template), method: :delete, data: { confirm: "Are you sure?" }, :class=>"btn btn-danger" %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



<!-- Script for adding more column fields -->
<script>
$(function()
{
    $(document).on('click', '.btn-add', function(e)
    {
        e.preventDefault();

        var controlForm = $('.controls form:first'),
            currentEntry = $(this).parents('.columns-select-boxes:first'),
            newEntry = $(currentEntry.clone()).appendTo(controlForm);

        newEntry.find('input').val('');
        controlForm.find('.btn-add:not(:last)')
            .removeClass('btn-default').addClass('btn-danger')
            .removeClass('btn-add').addClass('btn-remove')

            .html('<span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Remove   ');
    }).on('click', '.btn-remove', function(e)
    {
    $(this).parents('.columns-select-boxes:first').remove();

    e.preventDefault();
    return false;
  });
});
</script>
