<div class="container-large">
  <div class="row">
    <div class="col-xs-12 col-md-4">

      <!-- Template creation form -->
      <div id="template-creation-form">
        <h3>Template creation form</h3>
        <p>Templates can have as many columns as you want.</p>
          <%= simple_form_for @template do |f| %>
            <%= f.error_notification %>
            <div class="form-inputs">
              <%= f.input :name, label: "Name" %>
              <%= f.input :format, label: "Format", collection: ["-", ".csv (Excel)", "XML"], selected: "-" %>
              <%= f.input :column_1, label: "Column 1", collection: ["-", "Name","SKU", "Description", "Price", "Size", "Size", "Color"], selected: "-" %>
              <%= f.input :column_2, label: "Column 2", collection: ["-", "Name","SKU", "Description", "Price", "Size", "Size", "Color"], selected: "-" %>
              <%= f.input :column_3, label: "Column 3", collection: ["-", "Name","SKU", "Description", "Price", "Size", "Size", "Color"], selected: "-" %>
              <%= f.button :submit, "Save", class: "btn btn-primary bottom-buttons" %>
              <%= link_to "Add Col", "#", class: "btn btn-primary bottom-buttons" %>
              <%= link_to "Remove Col", "#", class: "btn btn-primary bottom-buttons" %>
            </div>
          <% end %>
      </div>
    </div>

    <div class="col-xs-12 col-md-8">
      <!-- Template library -->
      <div class="template-library">
        <h1>Template Library</h1>
        <div class="template-library-row">
          <table class="table table-condensed table-hover">
            <thead>
              <tr>
                <th>Template name</th>
                <th>Last update</th>
                <th>By</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @templates.each do |template| %>
              <tr>
                <td><strong><%= template.name  %></strong></td>
                <td><%= template.updated_at %></td>
                <td>Lancelot Salavert</td>
                <td>
                  <a href="#">Extract</a> /
                  <a href="#">Duplicate</a> /
                  <%= link_to "Edit", templates_path(template) %> /
                  <%= link_to "Delete", templates_path(template), method: :delete, data: { confirm: "Are you sure?" } %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Script for adding more column fields -->
<!-- $(function()
{
    $(document).on('click', '.btn-add', function(e)
    {
        e.preventDefault();

        var controlForm = $('.controls form:first'),
            currentEntry = $(this).parents('.columns-select-boxes:first'),
            newEntry = $(currentEntry.clone()).appendTo(controlForm);

        newEntry.find('input').val('');
        controlForm.find('.btn-add:not(:last)')
            .removeClass('btn-default').addClass('btn-danger')
            .removeClass('btn-add').addClass('btn-remove')

            .html('<span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Remove   ');
    }).on('click', '.btn-remove', function(e)
    {
    $(this).parents('.columns-select-boxes:first').remove();

    e.preventDefault();
    return false;
  });
}); -->

<!-- <i class="fa fa-minus-square" aria-hidden="true"></i> -->
