<div class="container-large">

  <!-- Header -->
  <div class="index-page-header">
    <h1><%= t('.extraction_index_title') %></h1>
  </div>



  <div class="extraction-index-body">

    <!-- Extraction creation form -->
    <div class="extraction-creation-form">
      <h3><%= t('.new_extraction_title') %></h3>
      <p><%= t('.new_extraction_tagline') %></p>
      <%= render 'form' %>
    </div>


    <!-- extraction library -->
    <div class="extraction-library">
      <h2><%= t('.extraction_logs') %></h2>
      <div class="extraction-library-row">
        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th><%= t('.name') %></th>
              <th><%= t('.date') %></th>
              <th><%= t('.author') %></th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            <% @extractions.each do |extraction| %>
            <tr>
              <td><strong><%= extraction.name  %></strong></td>
              <td><%= extraction.updated_at %></td>
              <td>Lancelot Salavert</td>
              <td>
                <a class="btn btn-primary" href="#">Download</a>
                <a class="btn btn-primary" href="#">Duplicate</a>
                <%= link_to "Edit", edit_extraction_path(extraction), :class=>"btn btn-primary" %>
                <%= link_to "Delete", extraction_path(extraction), method: :delete, data: { confirm: "Are you sure?" }, :class=>"btn btn-danger" %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

