<div class="navbar-main">
  <div class="container-large">
    <div class="navbar-main-flex">
      <div>
        <%= link_to apphome_path, class: "navbar-main-brand" do %>
          <%= image_tag "logo-nav.svg" %>
        <% end %>
      </div>
      <div class="navbar-main-flex">
      <% if user_signed_in? %>
        <%= link_to '#', class:'navbar-link navbar-item', title: "Notifications" do %>
        <div class="badge-container">
          <i class="fa fa-bell-o"></i>
          <div class="badge badge-brand badge-bordered">3</div>
        </div>
        <% end %>
        <%= link_to contacts_path, class:'navbar-link navbar-item', title: "Contacts" do %>
        <div class="badge-container-no-badge">
          <i class="fa fa-address-book-o"></i>
        </div>
        <% end %>
        <%= link_to destroy_user_session_path, method: :delete, class:'navbar-link navbar-item', title: "Sign out" do %>
        <div class="badge-container-no-badge">
          <i class="fa fa-sign-out"></i>
        </div>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path, class:'navbar-link navbar-item', title: "Sign in" do %>
        <div class="badge-container-no-badge">
          <i class="fa fa-sign-in"></i>
        </div>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>
