<div class="sub-navbar-box">
    <div class="sub-navbar-content tabs">
        <%= link_to t('.products'), product_index_path, {class: "tab", id: "product_index"} %>

        <%= link_to t('.searches'), searches_path, {class: "tab", id: "search"} %>

        <%= link_to t('.templates'), templates_path, {class: "tab", id: "template"} %>

        <%= link_to t('.extractions'), extractions_path, {class: "tab", id: "extraction"} %>

        <% if current_user != nil && current_user.access_level == 2 %>
          <%= link_to t('.accesses'), accesses_path, {class: "tab", id: "accesses"} %>
        <% end %>
    </div>
</div>

<% content_for :after_js do %>
  <%= javascript_tag do %>
    $(document).ready(function () {
      $(<%= @tab %>).addClass("active");
    })
  <% end %>
<% end %>
