<!--hero section-->

<header class="hero-section">

  <!--welcome message-->

  <section class="container text-center welcome-message">
    <div class="row">
      <div class="col-md-12">
        <h1><%= t('.home_tagline') %></h1>
        <h2><%= t('.home_sub_tagline') %></h2>
        <a href="" class="btn btn-cta-hero" data-toggle="modal" data-target="#modal-demo-form"><%= t('.get_started') %></a> </div>
    </div>
  </section>

  <!--welcome message end-->

</header>

<!--hero section end-->

<!--How it works-->

<section class="how-it-works section-spacing" id="how-it-works">
  <div class="container">
    <header class="section-header text-center">
      <h2><%= t('.how_it_works_section_header') %></h2>
      <h3><%= t('.how_it_works_tagline') %></h3>
    </header>
    <div class="row">
      <div class="center-block">
        <%= image_tag ("scalia_graph_7.png") %>
      </div>
    </div>
  </div>
</section>

<!--How it works end-->

<!--Brands-->

<section class="features brands" id="brands">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 text-center feature-bg"></div>
      <div class="col-md-1"></div>
      <div class="col-md-6">
        <div class="section-spacing row-margin">
          <header class="section-header">
            <h2><%= t('.brands_section_header') %></h2>
            <h3><%= t('.brands_section_tagline') %></h3>
          </header>
          <div class="row">
            <!--features 1-->
            <div class="col-sm-6"> <%= image_tag ("feature-1.svg") %>
              <h4><%= t('.brands_feature_1_title') %></h4>
              <p><%= t('.brands_feature_1_description') %></p>
            </div>
            <!--features 1 end-->
            <!--features 2-->
            <div class="col-sm-6"> <%= image_tag ("feature-2.svg") %>
              <h4><%= t('.brands_feature_2_title') %></h4>
              <p><%= t('.brands_feature_2_description') %></p>
            </div>
            <!--features 2 end-->
          </div>
          <div class="row">
            <!--features 3-->
            <div class="col-sm-6"> <%= image_tag ("feature-3.svg") %>
              <h4><%= t('.brands_feature_3_title') %></h4>
              <p><%= t('.brands_feature_3_description') %></p>
            </div>
            <!--features 3 end-->
            <!--features 4-->
            <div class="col-sm-6"> <%= image_tag ("feature-4.svg") %>
              <h4><%= t('.brands_feature_4_title') %></h4>
              <p><%= t('.brands_feature_4_description') %></p>
            </div>
            <!--features 4 end-->
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</section>

<!--Brands end-->

<!--CTA footer-->

<section class="cta-footer section-spacing text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2><%= t('.explanation') %></h2>
      </div>
    </div>
  </div>
</section>

<!--CTA footer end-->

<!--Retailers-->

<section class="features retailers" id="retailers">
  <div class="container-fluid">
    <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-6">
      <div class="section-spacing row-margin">
        <header class="section-header">
          <h2><%= t('.retailers_section_header') %></h2>
          <h3><%= t('.retailers_section_tagline') %></h3>
        </header>
        <div class="row">
          <!--features 1-->
          <div class="col-sm-6"> <%= image_tag ("feature-new-3.svg") %>
            <h4><%= t('.retailers_feature_1_title') %></h4>
            <p><%= t('.retailers_feature_1_description') %></p>
          </div>
          <!--features 1 end-->
          <!--features 2-->
          <div class="col-sm-6"> <%= image_tag ("feature-2.svg") %>
            <h4><%= t('.retailers_feature_2_title') %></h4>
            <p><%= t('.retailers_feature_2_description') %></p>
          </div>
          <!--features 2 end-->
        </div>
        <div class="row">
          <!--features 3-->
          <div class="col-sm-6"> <%= image_tag ("feature-new-2.svg") %>
            <h4><%= t('.retailers_feature_3_title') %></h4>
            <p><%= t('.retailers_feature_3_description') %></p>
          </div>
          <!--features 3 end-->
          <!--features 4-->
          <div class="col-sm-6"> <%= image_tag ("feature-new-1.svg") %>
            <h4><%= t('.retailers_feature_4_title') %></h4>
            <p><%= t('.retailers_feature_4_description') %></p>
          </div>
          <!--features 4 end-->
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4 text-center feature-bg"></div>

    </div>
  </div>
</section>

<!--Retailers end-->

<!--Pricing-->

<section class="pricing section-spacing text-center" id="pricing">
  <div class="container">
    <header class="section-header">
      <h2><%= t('.pricing') %></h2>
      <h3><%= t('.pricing_tagline') %></h3>
    </header>
    <div class="row">

      <!--pricing tabel 1-->
      <div class="col-sm-4">
        <div class="pricing-table-container">
          <div class="plan-type">
            <h4><%= t('.basic') %></h4>
          </div>
          <div class="plan-price">
            <h5><span class="plan-currency"><%= t('.currency') %></span>249<span class="plan-duration">P/M</span></h5>
          </div>
          <div class="plan-cta">
            <span><%= t('.try_first') %></span>
            <a href="" class="btn" data-toggle="modal" data-target="#modal-demo-form"><%= t('.try_for_free') %></a>
          </div>
          <div class="plan-details">
            <ul>
              <li><strong>1</strong> <%= t('.users') %></li>
              <li><strong>5000</strong> <%= t('.views') %></li>
              <li><strong>12</strong> <%= t('.templates') %></li>
              <li><strong>5</strong> <%= t('.suppliers') %></li>
            </ul>
          </div>
        </div>
      </div>
      <!--pricing tabel 1 end-->

      <!--pricing tabel 2-->
      <div class="col-sm-4">
        <div class="pricing-table-container plan-popular">
          <div class="plan-type">
            <h4><%= t('.premium') %></h4>
          </div>
          <div class="plan-price">
            <h5><span class="plan-currency"><%= t('.currency') %></span>999<span class="plan-duration">P/M</span></h5>
          </div>
          <div class="plan-cta">
            <span><%= t('.limited_offer_10') %></span>
            <a href="" class="btn" data-toggle="modal" data-target="#modal-demo-form"><%= t('.get_started') %></a>
          </div>
          <div class="plan-details">
            <ul>
              <li><strong>5 </strong><%= t('.users') %></li>
              <li><strong>10,000 </strong><%= t('.views') %></li>
              <li><strong>30 </strong><%= t('.templates') %></li>
              <li><strong>15 </strong><%= t('.suppliers') %></li>
              <li><%= t('.api') %></li>
              <li><%= t('.storage') %></li>
              <li><%= t('.analytics') %></li>
            </ul>
          </div>
        </div>
      </div>
      <!--pricing tabel 2 end-->

      <!--pricing tabel 3-->
      <div class="col-sm-4">
        <div class="pricing-table-container">
          <div class="plan-type">
            <h4><%= t('.gold') %></h4>
          </div>
          <div class="plan-price">
            <h5><span class="plan-currency"><%= t('.currency') %></span>2,499<span class="plan-duration">P/M</span></h5>
          </div>
          <div class="plan-cta">
            <span><%= t('.limited_offer_10') %></span>
            <a href="" class="btn" data-toggle="modal" data-target="#modal-demo-form"><%= t('.get_started') %></a>
          </div>
          <div class="plan-details">
            <ul>
              <li><strong><%= t('.unlimited') %></strong> <%= t('.users') %></li>
              <li><strong><%= t('.unlimited') %></strong> <%= t('.views') %></li>
              <li><strong><%= t('.unlimited') %></strong> <%= t('.templates') %></li>
              <li><strong>50</strong> <%= t('.suppliers') %></li>
              <li><%= t('.api') %></li>
              <li><%= t('.storage') %></li>
              <li><%= t('.analytics') %></li>
              <li><%= t('.security') %></li>
              <li><%= t('.logs') %></li>
              <li><%= t('.support') %></li>
            </ul>
          </div>
        </div>
      </div>
      <!--pricing tabel 3 end-->

    </div>
  </div>
</section>

<!--Pricing end-->


<!--Open source-->

<div class="testimonial section-spacing">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <blockquote>
          <h1><%= t('.open_source_title') %></h1>
          <p><%= t('.open_source_description') %></p>
        </blockquote>
      </div>
    </div>
  </div>
</div>

<!--Open source end-->

<!--About us -->

<section class="about-us section-spacing" id="team">
  <div class="container">
    <header class="section-header text-center">
      <h2><%= t('.about_us') %></h2>
      <h3><%= t('.about_us_tagline') %></h3>
    </header>
    <div class="row about-us-img-grid text-center">
      <div class="col-md-3">
        <%= image_tag ("about-us-grid-1-mobile.jpg"), :class => 'visible-xs-inline-block' %>
        <%= image_tag ("about-us-grid-1-tablet.jpg"), :class => 'visible-sm-inline-block' %>
        <%= image_tag ("about-us-grid-1.jpg"), :class => 'hidden-xs hidden-sm' %>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-sm-6"> <%= image_tag ("about-us-grid-2.jpg") %></div>
          <div class="col-sm-6"> <%= image_tag ("about-us-grid-3.jpg") %></div>
        </div>
        <div class="row">
          <div class="col-xs-4"> <%= image_tag ("about-us-grid-4.jpg") %></div>
          <div class="col-xs-4"> <%= image_tag ("about-us-grid-5.jpg") %></div>
          <div class="col-xs-4"> <%= image_tag ("about-us-grid-6.jpg") %></div>
        </div>
      </div>
    </div>
    <div class="row about-us-into">
      <div class="col-md-10 center-block">
        <div class="row">
          <div class="col-md-6">
            <article>
              <h4><%= t('.about_scalia') %></h4>
              <p><%= t('.scalia_description') %></p>
            </article>
          </div>
          <div class="col-md-6">
            <article>
              <h4><%= t('.mission') %></h4>
              <p><%= t('.mission_description') %></p>
            </article>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center team-details">
      <div class="col-md-11 center-block">
        <h4><%= t('.founders') %></h4>
        <div class="row">
          <div class="col-md-6">

            <!--Team 1-->
            <div class="item"> <%= image_tag ("alex.jpg"), class: "img-circle" %>
              <h5 style="margin-bottom: 20px;"><span class="bold">Alexandre Benoit</span></h5>
              <p><%= t('.alex_description_1') %><br>
              <%= t('.alex_description_2') %><br>
              <%= t('.alex_description_3') %></p>
            </div>
            <!--Team 1 end-->
          </div>

          <div class="col-md-6">

            <!--Team 2-->
            <div class="item"> <%= image_tag ("lancelot.jpg"), class: "img-circle" %>
              <h5 style="margin-bottom: 20px;"><span class="bold">Lancelot Salavert</span></h5>
              <p><%= t('.lancelot_description_1') %><br>
              <%= t('.lancelot_description_2') %><br>
              <%= t('.lancelot_description_3') %></p>
            </div>
            <!--Team 2 end-->

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--About us end-->

<!--CTA footer-->

<section class="cta-footer section-spacing text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2><%= t('.sign_up_for_free_html') %><a href="" class="btn btn-secondary" data-toggle="modal" data-target="#modal-demo-form"><%= t('.get_started') %></a> </div></h2>
      </div>
    </div>
  </div>
</section>

<!--CTA footer end-->

<!--Features cta-->

<section class="features-cta section-spacing" id="features">
  <div class="container">
    <header class="section-header text-center">
      <h2><%= t('.features') %></h2>
      <h3><%= t('.features_tagline') %></h3>
    </header>
    <div class="row">
      <div class="col-md-6"> <%= image_tag ("features-cta.jpg"), class: "feature-cta-big-img" %></div>
      <div class="col-md-6">
        <ul class="feature-cta-list">

          <!--feature 1-->
          <li> <img src="/assets/feature-cta-1-5aa28c2b354e91bf5d37f1b1b49e7788ecbba0f165d4b6b7ec003c1eb7514639.svg" alt="Feature cta 1" />
            <h4><%= t('.feature_1_title') %></h4>
            <p><%= t('.feature_1_description') %></p>
          </li>
          <!--feature 1 end-->

          <!--feature 2-->
          <li> <img src="/assets/feature-cta-2-bb2245955c3c0a541dd15ae010f422cb33fb1e82892ff2383ed6463809f9c387.svg" alt="Feature cta 2" />
            <h4><%= t('.feature_2_title') %></h4>
            <p><%= t('.feature_2_description') %></p>
          </li>
          <!--feature 2 end-->

          <!--feature 3-->
          <li> <img src="/assets/feature-cta-3-af5284e3e3a7b7ca7b6388fb4b5f305ccd7605b1339b7709da541dba8c4739bb.svg" alt="Feature cta 3" />
            <h4><%= t('.feature_3_title') %></h4>
            <p><%= t('.feature_3_description') %></p>
          </li>
          <!--feature 3 end-->

        </ul>
        <a href="" class="btn" data-toggle="modal" data-target="#modal-demo-form"><%= t('.get_started_for_free') %></a>
      </div>
    </div>
  </div>
</section>

<!--Features cta end-->
