<div class="banner">
  <div class="banner-content">
    <h1><%= t('.home_tagline') %></h1>
    <div class="banner-buttons">
      <a class="btn-home" href="#">Brands</a>
      <a class="btn-home" href="/product_index">Retailers</a>
    </div>
  </div>
</div>


<div class="pain-point-banner">
  <div class="illustration">
    <%=image_tag("origami_1.png", width: '400')%>
  </div>
  <div class="slogan">
    <h2><%= t('.pain_point') %></h2>
  </div>
</div>

<div class="benefits-banner">
  <h2>Benefits</h2>
  <div class="benefits">
    <div class="brand-benefits">
      <h3>For brands</h3>
      <%#=image_tag("brand-icon.png", width: '150')%>
        <p>Manage all product data through a single platform</p>
        <p>Stop wasting your time with each and every distributor format</p>
        <p>Let us do the work for you</p>
        <p>While giving you a better control on your data</p>
        <a class="btn-home" href="#">Learn more</a>
    </div>
    <div class="distributor-benefits">
      <h3>For distributors</h3>
      <%#=image_tag("distributor-icon.png", width: '150')%>
        <p>Plug into the best lifestyle product database</p>
        <p>Automate data collection from your suppliers</p>
        <p>Handle all types of content from logistics to rich media</p>
        <p>Accelerate content updates to your commercial and analytics systems</p>
        <a class="btn-home" href="#">Learn more</a>
    </div>
  </div>
</div>


<div class="machine-learning-banner">
  <div class="slogan">
    <h2><%= t('.machine-learning') %></h2>
  </div>
  <div class="illustration">
    <%=image_tag("machine-learning-icon.png", width: '300')%>
  </div>
</div>


