<!--content wrapper-->
<div class="content-wrapper">

  <!--cta signin form-->

  <section class="cta-form cta-light section-spacing">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-5 center-block">

          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <header class="section-header text-center">
            <h2>Login</h2>
          </header>
          <div class="form-inputs">
              <%= f.input :email, required: false, autofocus: true %>
              <%= f.input :password, required: false %>
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

            <div class="form-actions">
                <%= f.button :submit, "Log in" %>
            </div>

            <%= render "devise/shared/links" %>

          </div>
          <% end %>

        </div>
      </div>
    </div>
  </section>

  <!--cta signin form end-->

  <!--chat btn-->
  <a href="" class="chat-btn" data-toggle="modal" data-target="#modal-contact-form"></a>
  <!--chat btn-->

  <!--Copyright terms-->

  <footer class="copyright-terms">
    <div class="container">
      <div class="row">
        <div class="col-sm-5 col-md-6"> <small> &copy; 2016 Scalia. All rights reserved.</small> </div>
        <div class="col-sm-7 col-md-6">
          <ul class="terms-privacy">
            <li><a href="index.html">Home</a></li>
            <li><a href="" data-toggle="modal" data-target="#modal-terms">Terms</a></li>
            <li><a href="" data-toggle="modal" data-target="#modal-terms">Privacy</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!--Copyright terms end-->

</div>

<!--content wrapper end-->
