<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-3">

      <div id="filtering-box">
        <h3>Filters</h3>
        <form action="<%= product_index_path %>" method="get" id="filterForm">
          <div class="form-group">
            <%= label :full_name, 'Item Name' %>
            <%= text_field_tag :full_name, params[:full_name], class: "form-control" %>
          </div>
          <div class="form-group">
            <%= label :brand, 'Brand' %>
            <%= text_field_tag :brand, params[:brand], class: "form-control" %>
          </div>
          <div class="form-group">
            <%= label :sku, 'SKU' %>
            <%= text_field_tag :sku, params[:sku], class: "form-control" %>
          </div>
          <div class="form-group">
            <%= label :category_1, 'Main Category' %>
            <%= text_field_tag :category_1, params[:category_1], class: "form-control" %>
          </div>
          <div class="form-group">
            <%= label :product_code, 'Product Code' %>
            <%= text_field_tag :product_code, params[:product_code], class: "form-control" %>
          </div>
          <div class="form-group">
            <%= label :in_stock, 'In Stock' %>
            <%= text_field_tag :in_stock, params[:in_stock], class: "form-control" %>
          </div>
          <div class="form-group">
            <%= label :details, 'Item Details' %>
            <%= text_field_tag :details, params[:details], class: "form-control" %>
          </div>
          <div class="form-group">
            <%= label :color, 'Color' %>
            <%= text_field_tag :color, params[:color], class: "form-control" %>
          </div>
          <div class="form-group">
            <%= label :price_under, 'Min Price' %>
            <%= text_field_tag :price_under, params[:price_under], class: "form-control" %>
          </div>
          <div class="form-group">
            <%= label :price_over, 'Max Price' %>
            <%= text_field_tag :price_over, params[:price_over], class: "form-control" %>
          </div>
          <%= submit_tag "Filter", name: nil, class: "btn btn-default", id: "filterFormBtn" %>
          <%= link_to "Reset", product_index_path, class: "btn btn-default" %>
        </form>
      </div>
    </div>
    <div class="col-xs-12 col-md-9">

      <!-- header -->
      <div class="index-page-header">
        <h1>Product main database</h1>
        <div class="extraction-buttons">
          <a class="btn btn-primary">Save search</a>
          <a class="btn btn-primary">Generate extraction</a>
        </div>
      </div>

      <!-- # of results within the current search -->
      <div class="search-result-title">
        <span>
          <strong>Search results:</strong>
          <%= @items ? @items[1][:total] : 0 %> items,
        </span>
        <span>
          <strong>Results per page:</strong>
          <%= @items ? @items[1][:per_page] : 0 %>
        </span>
      </div>

      <!-- Actual table of products -->
      <table class="table table-condensed table-hover">
        <col class="col-photo">
        <col class="col-name">
        <col class="col-brand">
        <col class="col-sku">
        <col class="col-complete">
        <col class="col-price">
        <col class="col-stock">
        <col class="col-color">
        <col class="col-category">
        <thead>
          <tr>
            <th>
              <stong>Cover</stong>
            </th>
            <th>
              <stong>Name</stong>
            </th>
            <th>
              <stong>Brand</stong>
            </th>
            <th>
              <stong>SKU</stong>
            </th>
            <th>
              <stong>Complete</stong>
            </th>
            <th>
              <stong>Price</stong>
            </th>
            <th>
              <stong>Stock</stong>
            </th>
            <th>
              <stong>Color</stong>
            </th>
            <th>
              <stong>Category</stong>
            </th>
          </tr>
        </thead>

        <tbody>

          <% (@items ? @items[0] : []).each do |item| %>
            <tr class='clickable-row' data-href='<%= product_show_path(id: item["id"]) %>' style="cursor: pointer;">
              <td>
                <%= image_tag (item['photo_urls'][0]) %>
              </td>
              <td>
                <p><%= item['full_name'] %></p>
              </td>
              <td>
                <p><%= item['brand'] %></p>
              </td>
              <td>
                <p><%= item['sku'] %></p>
              </td>
              <td>
                <p>80%</p>
              </td>
              <td>
                <p><%= item['price'] %></p>
              </td>
              <td>
                <p><%= item['in_stock'] ? "Yes" : "No" %></p>
              </td>
              <td>
                <p><%= item['color'] %></p>
              </td>
              <td>
                <p><%= item['category_1'] %></p>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


<%= content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(function() {
      $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
      });

      $('#filterFormBtn').on( "click", function(e) {
        e.preventDefault();
        $('#filterForm').find('input').each(function(i, e) {
          if ($(e).val() == "") {$(e).attr("disabled", "disabled")}  });
        $('#filterForm').submit();
      });
    });
  <% end %>
<% end %>
