<div class="container-large">

  <!-- header -->
  <div class="index-page-header">
    <h1>Product main database</h1>
    <div class="extraction-buttons">
      <!-- <a class="btn btn-primary">Save search</a> -->
      <button class="btn btn-primary" onclick="saveSearch()">Save search</button>
      <a class="btn btn-primary">Generate extraction</a>
    </div>
  </div>

  <div class="flex-index">

    <!-- #### FILTERING FEATURE #### -->
    <div class="filtering-box">
      <p>
        <strong>Filtering feature</strong>
      </p>

      <div class="filtering-attributes">
        <div class="form-group">
          <label for="name">Name contains...</label>
          <input type="text" class="form-control" id="name" placeholder="cotton shirt">
        </div>
        <div class="form-group">
          <label for="brand">Brand</label>
          <select id="brand" class="form-control">
            <option>-</option>
            {{ range $_, $brand := .Brands -}}
              <option>{{ $brand }}</option>
              {{- end }}
            </select>
          </div>
          <div class="form-group">
            <label for="gender">Gender</label>
            <select id="gender" class="form-control">
              <option>-</option>
              <option>Male</option>
              <option>Female</option>
              <option>Kids</option>
            </select>
          </div>
          <div class="form-group">
            <label for="categ1">Category 1</label>
            <select id="categ1" class="form-control">
              <option>-</option>
              <option>Apparel & Accessories</option>
            </select>
          </div>
          <div class="form-group">
            <label for="categ2">Category 2</label>
            <select id="categ2" class="form-control">
              <option>-</option>
              <option>Clothing</option>
              <option>Clothing Accessories</option>
              <option>Costumes & Accessories</option>
              <option>Handbags, Wallets & Cases</option>
              <option>Jewelry</option>
              <option>Shoe Accessories</option>
              <option>Shoes</option>
            </select>
          </div>
          <div class="form-group">
            <label for="categ3">Category 3</label>
            <select id="categ3" class="form-control">
              <option>-</option>
              <option>Pants</option>
              <option>Shirts & Tops</option>
              <option>Shorts</option>
              <option>Skirts</option>
              <option>Suits</option>
            </select>
          </div>
          <a class="btn btn-primary product-filter">Filter</a>
        </div>

      </div>

    </div>

    <!-- # of results within the current search -->
    <div class="search-result-title">
      <p>
        <strong>Search results:</strong>
        <%= @items.size %> products</p>
    </div>

    <!-- Actual table of products -->
    <table class="table table-condensed table-hover">
      <col class="col-check">
      <col class="col-photo">
      <col class="col-name">
      <col class="col-brand">
      <col class="col-sku">
      <col class="col-price">
      <col class="col-stock">
      <col class="col-color">
      <col class="col-category">
      <thead>
        <tr class="first-tr">
          <th>
            <h5>
              <input type="checkbox">
            </h5>
          </th>
          <th>
            <h5>Cover</h5>
          </th>
          <th>
            <h5>Name</h5>
          </th>
          <th>
            <h5>Brand</h5>
          </th>
          <th>
            <h5>SKU</h5>
          </th>
          <th>
            <h5>Price</h5>
          </th>
          <th>
            <h5>Stock</h5>
          </th>
          <th>
            <h5>Color</h5>
          </th>
          <th>
            <h5>Category</h5>
          </th>
        </tr>
      </thead>

      <tbody>
        <% @items.each do |item| %>
        <tr>
          <td><input type="checkbox" value=""></td>
          <td>
            <%= image_tag (item['photo_urls'][0]) %>
          </td>
          <td>
            <p><%= item['full_name'] %></p>
          </td>
          <td>
            <p><%= item['brand'] %></p>
          </td>
          <td>
            <p><%= item['sku'] %></p>
          </td>
          <td>
            <p><%= item['price'] %></p>
          </td>
          <td>
            <p><%= item['in_stock'] ? "Yes" : "No" %></p>
          </td>
          <td>
            <p><%= item['color'] %></p>
          </td>
          <td>
            <p><%= item['category_1'] %></p>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
