<div class="container-large">
  <div class="row">
    <div class="col-xs-12 col-md-3">

      <div id="filtering-box">
        <h3><%= t('.filters') %></h3>
        <form action="<%= product_index_path %>" method="get" id="filterForm">
          <div class="form-group">
            <%= label :full_name, t('.item_name') %>
            <%= text_field_tag :full_name, params[:full_name], class: "form-control" %>
          </div>
          <div class="form-group">
            <%= label :brand, t('.brand') %>
            <%= text_field_tag :brand, params[:brand], class: "form-control" %>
          </div>
          <div class="form-group">
            <%= label :sku, 'GTIN' %>
            <%= text_field_tag :sku, params[:sku], class: "form-control" %>
          </div>
          <div class="form-group">
            <%= label :category_1, t('.category_1') %>
            <%= text_field_tag :category_1, params[:category_1], class: "form-control" %>
          </div>
          <div class="form-group">
            <%= label :product_code, 'Product Code' %>
            <%= text_field_tag :product_code, params[:product_code], class: "form-control" %>
          </div>
          <div class="form-group">
            <%= label :in_stock, 'In Stock' %>
            <%= select_tag :in_stock, options_for_select({ "Show all items" => "", "Show only items in stock" => "yes", "Show only items out of stock" => "no" }, params['in_stock']), class: "form-control" %>
          </div>
          <div class="form-group">
            <%= label :details, 'Item Details' %>
            <%= text_field_tag :details, params[:details], class: "form-control" %>
          </div>
          <div class="form-group">
            <%= label :color, t('.color') %>
            <%= text_field_tag :color, params[:color], class: "form-control" %>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <%= label :min_price, t('.min_price') %>
                <div class="input-group">
                  <div class="input-group-addon">£</div>
                  <%= text_field_tag :min_price, params[:min_price], class: "form-control" %>
                </div>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <%= label :max_price, t('.max_price') %>
                <div class="input-group">
                  <div class="input-group-addon">£</div>
                  <%= text_field_tag :max_price, params[:max_price], class: "form-control" %>
                </div>
              </div>
            </div>
          </div>
          <%= submit_tag "Filter", name: nil, class: "btn btn-default bottom-buttons", id: "filterFormBtn" %>
          <%= link_to t('.reset'), product_index_path, class: "btn btn-default bottom-buttons" %>
        </form>
      </div>
    </div>

    <div class="col-xs-12 col-md-9">
      <!-- header -->
      <div class="index-page-header">
        <h1><%= t('.product_index_title') %></h1>
        <div class="extraction-buttons">
          <%= simple_form_for @search, html: { class: 'form-inline' } do |f| %>
            <%= f.input :url, as: :hidden, input_html: { value: request.original_url }  %>
            <%= f.input :name %>
            <%= submit_tag t('.save_search'), name: nil, class: "btn btn-default" %>
          <% end %>
        </div>
      </div>

      <!-- # of results within the current search -->
      <div class="search-result-title">
        <span>
          <strong><%= t('.search_results') %></strong>
          <%= @items ? @items[1][:total] : 0 %> items,
        </span>
        <span>
          <strong><%= t('.results_per_page') %></strong>
          <%= @items ? @items[1][:per_page] : 0 %>
        </span>
      </div>


      <% if @items.nil? %>
        <p><%= t('.error_message') %></p>
      <% elsif @items[0].blank? %>
        <p><%= t('.no_result_message') %></p>
      <% else %>
      <!-- Actual table of products -->
      <table class="table table-condensed table-hover" id="products-index-table">
        <col class="col-photo">
        <col class="col-name">
        <col class="col-brand">
        <col class="col-sku">
        <col class="col-complete">
        <col class="col-price">
        <col class="col-stock">
        <col class="col-color">
        <col class="col-category">
        <thead>
          <tr>
            <th>
              <stong><%= t('.cover') %></stong>
            </th>
            <th>
              <stong><%= t('.name') %></stong>
            </th>
            <th>
              <stong><%= t('.brand') %></stong>
            </th>
            <th>
              <stong>GTIN</stong>
            </th>
            <th>
              <stong><%= t('.completeness') %></stong>
            </th>
            <th>
              <stong><%= t('.price') %></stong>
            </th>
            <th>
              <stong>Stock</stong>
            </th>
            <th>
              <stong><%= t('.color') %></stong>
            </th>
            <th>
              <stong><%= t('.category') %></stong>
            </th>
          </tr>
        </thead>

        <tbody>
          <% @items[0].each do |item| %>
            <tr class='clickable-row' data-href='<%= product_show_path(id: item["id"]) %>' style="cursor: pointer;">
              <td>
                <%= image_tag (item['photo_urls'][0]) %>
              </td>
              <td>
                <p><%= item['full_name'] %></p>
              </td>
              <td>
                <p><%= item['brand'] %></p>
              </td>
              <td>
                <p><%= item['sku'] %></p>
              </td>
              <td>
                <p>80%</p>
              </td>
              <td>
                <p><%= item['price'] %></p>
              </td>
              <td>
                <p><%= item['in_stock'] ? "Yes" : "No" %></p>
              </td>
              <td>
                <p><%= item['color'] %></p>
              </td>
              <td>
                <p><%= item['category_1'] %></p>
              </td>
            </tr>
          <% end %>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>


<%= content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(function() {
      $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
      });

      $('#filterFormBtn').on( "click", function(e) {
        e.preventDefault();
        $('#filterForm').find('input,select').each(function(i, e) {
          if ($(e).val() == "") {$(e).attr("disabled", "disabled")}  });
        $('#filterForm').submit();
      });
    });
  <% end %>
<% end %>
