  <div class="container">

    <!-- header -->
    <div class="index-page-header">
      <h1>Specific product page</h1>
      <div class="extraction-buttons">
        <a class="btn btn-primary">Generate extration</a>
      </div>
    </div>


    <div class="flex-index">

      <div class="product-description-top">
        <div class="active-image">

        </div>
        <div class="product-main-attributes-boxes">


            <!-- General table -->
            <table class="table table-condensed table-hover">
              <thead>
                <tr>
                  <th>General</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                  <tr>
                    <td><strong>Name</strong></td>
                    <td><%= @item['full_name'] %></td>
                  </tr>
                  <tr>
                    <td><strong>Gender</strong></td>
                    <td>Female</td>
                  </tr>
                  <tr>
                    <td><strong>Color Family</strong></td>
                    <td><%= @item['color'] %></td>
                  </tr>
                  <tr>
                    <td><strong>In Stock?</strong></td>
                    <td><%= @item['in_stock'] ? 'Yes' : 'No' %></td>
                  </tr>
                  <tr>
                    <td><strong>Details</strong></td>
                    <td>
                      <ul style="list-style: none;padding-left:0;">
                        <% @item['details'].each do |d| %>
                          <li><%= d %></li>
                        <% end %>
                      </ul>
                    </td>
                  </tr>

              </tbody>

            </table>


            <!-- Identifiers table -->
            <table class="table table-condensed table-hover">
              <thead>
                <tr>
                  <th>Identifiers</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                  <tr>
                    <td><strong>SKU</strong></td>
                    <td><%= @item['sku'] %></td>
                  </tr>
                  <tr>
                    <td><strong>Product Code</strong></td>
                    <td><%= @item['product_code'] %></td>
                  </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>


      <div class="product-secondary-attributes-boxes">

        <!-- Table for images attributes -->
        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th>Images</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td><strong>Primary image</strong></td>
                <td><%= image_tag @item['photo_urls'][0], :style => "width: 220px" %></td>
              </tr>
              <tr>
                <td><strong>Secondary images</strong></td>
                <td>
                  <% @item['photo_urls'].drop(1).each do |img|%>
                    <%= image_tag img, :style => "width: 160px" %>
                  <% end %>
                </td>
              </tr>
          </tbody>
        </table>

        <!-- Table for brand attributes -->
        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th>Brand</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td><strong>Brand name</strong></td>
                <td><%= @item['brand'] %></td>
              </tr>
              <tr>
                <td><strong>Brand logo</strong></td>
                <td></td>
              </tr>
              <tr>
                <td><strong>Brand description</strong></td>
                <td></td>
              </tr>
          </tbody>
        </table>

        <!-- Table for category attributes -->
        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th>Categories</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td><strong>Main Category</strong></td>
                <td><%= @item['category_1'] %></td>
              </tr>
              <tr>
                <td><strong>Secondary Categories</strong></td>
                <td></td>
              </tr>
          </tbody>
        </table>

        <!-- Table for sizes attributes -->
        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th>Sizes</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td><strong>UK Sizes</strong></td>
                <td><%= @item['sizes'].join(', ') %></td>
              </tr>
              <tr>
                <td><strong>EU Sizes</strong></td>
                <td></td>
              </tr>
              <tr>
                <td><strong>US Sizes</strong></td>
                <td></td>
              </tr>
          </tbody>
        </table>

        <!-- Table for Measurements attributes -->
        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th>Weight</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td><strong>Fit</strong></td>
                <td></td>
              </tr>
              <tr>
                <td><strong>Length</strong></td>
                <td></td>
              </tr>
              <tr>
                <td><strong>Width</strong></td>
                <td></td>
              </tr>
          </tbody>
        </table>

        <!-- Table for materials attributes -->
        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th>Materials</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td><strong>External material</strong></td>
                <td><%= @item['materials'] %></td>
              </tr>
          </tbody>
          <tbody>
              <tr>
                <td><strong>Inner material</strong></td>
                <td></td>
              </tr>
          </tbody>
        </table>

        <!-- Table for Style attributes -->
        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th>Style</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td><strong>Season</strong></td>
                <td></td>
              </tr>
              <tr>
                <td><strong>Year</strong></td>
                <td></td>
              </tr>
              <tr>
                <td><strong>Collection</strong></td>
                <td></td>
              </tr>
              <tr>
                <td><strong>Style</strong></td>
                <td></td>
              </tr>
          </tbody>
        </table>

        <!-- Table for Fabrication attributes -->
        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th>Fabrication</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td><strong>Country of production</strong></td>
                <td></td>
              </tr>
          </tbody>
        </table>

        <!-- Table for Logistics attributes -->
        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th>Logistics</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td><strong>Package length</strong></td>
                <td></td>
              </tr>
              <tr>
                <td><strong>Package height</strong></td>
                <td></td>
              </tr>
              <tr>
                <td><strong>Package width</strong></td>
                <td></td>
              </tr>
          </tbody>
        </table>

        <!-- Table for Cleaning attributes -->
        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th>Washing & Ironing</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td><strong>Washing recommandation</strong></td>
                <td><%= @item['washing_instructions'] %></td>
              </tr>
              <tr>
                <td><strong>Ironing recommandation</strong></td>
                <td></td>
              </tr>
          </tbody>
        </table>

        <!-- Table for Prices attributes -->
        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th>Prices</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td><strong>Recommanded retail prices in UK</strong></td>
                <td><%= '£' + @item['price'].to_s %></td>
              </tr>
              <tr>
                <td><strong>Recommanded retail prices in France</strong></td>
                <td></td>
              </tr>
              <tr>
                <td><strong>Recommanded retail prices in Spain</strong></td>
                <td></td>
              </tr>
          </tbody>
        </table>

      </div>
  </div>
